footer.footer {
  background: #302B42;
  color: #fff;
  padding: 32px 0px 92px;
  position: relative;
  z-index: 2;
}
.footer {
  .main-menu {
    a:hover {
      color: $primary;
    }
  }

  .btn-bordered {
  }
}